form .form-section { 
    border-bottom: 5px solid #f0c000; 
    padding-bottom: 5px; 
    margin-bottom: 15px; 
    margin-top: 20px;
}
form button[type=submit] .default-submit {
    font-weight: normal;
}
form button[type=submit] .busy-submit {
    display: none;
}
